.development{
    background:   #F5F4FA;
    
    &-list{
        display: flex;
        padding-bottom: 94px;
        &-box{
            margin-right: 30px;
            padding-bottom: 30px;
            border-radius: 2%;
           background-color: #FFFFFF;
            box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        }
    }
    &-team-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.188;
        text-align: center;
        letter-spacing: 0.03em;
        color: $title-color;
        padding-top: 30px;
        
       
        
    }
    &-team-prof{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.188;
        text-align: center;
        letter-spacing: 0.03em;
        color: $accent-color;
        padding-top: 10px;
        margin-bottom: 16px;
    
    }
}




